#chartwerk {
    width:620px;
}
#chartwerk div{
    font-family:"Theinhardt-Regular", sans-serif; 
}
#chartwerk.single{
    width:300px;
    max-width:100%;
    overflow:hidden;
}
#chartwerk #headline { 
    font-family:"Theinhardt-Medium", sans-serif;
    font-weight:normal;
    font-size:24px;
}
#chartwerk #chatter {
    margin-top:5px;
    font-size:14px;
    line-height:19px;
}
#chartwerk #footnote,
#chartwerk #source,
#chartwerk #author {
    font-size:11px;
    color:grey;

}
#chartwerk #author {
    text-align:right;
}
#chartwerk #chart{
    background-color:white;
    font-variant-numeric: tabular-nums;
    font-variant-numeric: tabular-nums;
    -moz-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
}
#chartwerk .response {
    margin-top:10px;
}
#chartwerk .response p{
    font: 13px/16px "Theinhardt-Regular", sans-serif;
}
#chartwerk #chart .bar{
    display:block;
}
#chartwerk #chart .bar .label{
    width:100%;
    text-align:right;
}
#chartwerk #chart .response .name.label{
    white-space:normal;
    display: table;
    text-align:right;
    padding:0 5px 0 0;
    position:absolute;
    color:#666;
    border-right: 1px #666 solid;
    border-radius: 0;
}
#chartwerk #chart .response .name.label p{
    display: table-cell; 
    vertical-align: middle; 
}
#chartwerk #chart .bar .value.label p{
    padding-right:5px;
    margin-bottom: 0;
    font-family:"Theinhardt-Medium", sans-serif;
    font-weight:normal;
    font-size:14px;
    color:#fff;
}
#chartwerk #chart .bar .value.label p.offset{
    text-align:left;
    padding-left:3px;
    color:#666;
}
#chart .annotation .inner {
    height:5px;
}

#chartwerk #chart-legend .chart-legend-container .key-label {
    font: 11px 'Theinhardt-Regular', sans-serif; 
}
#chartwerk #chart-legend .chart-legend-container .key-color {
    margin-right: 2px;
}
#chartwerk #chart-legend .chart-legend-container .key {
    margin-right: 8px;
}

